
     *{ margin:0px; }


       header {
           background-color:rgb(255, 243, 193);
           height: 400px;
           margin-top: 2%;
           text-align: center;
       }

       footer {
      
           height: max-content;
           margin: auto;
           margin-top: 2%;
           border-style: solid ;
           border-radius: 30% 30%;
           background-color:rgb(255, 243, 193);
           width: max-content;
           padding: 6px 6px 6px 6px ;
           
       }
       
       h1 {
           position: relative;
           font-family: 'Raleway', sans-serif;
           font-size: 50px;
           text-align: center;
           text-shadow: 3px 3px gray;
           top: 40%;
       }

       h4 {
           position: relative;
           font-family: 'Galada', cursive;
            text-align: center;
            font-size: 20px;
           top:45%;
       }

       #my-picture {
           position: absolute;
           float: right;
           border-style: solid ;
           border-radius: 50% 50%;
           right:5%;
          width: 200px;
          top:15%;      
          padding: 0%;
       }

       body {
           background-image:url("./imgs/s.jpg") ;
           background-repeat: no-repeat;
           background-size:cover;

       }

       nav {
        text-align: center;
        box-shadow: 2px 2px rgb(252, 207, 148);

 
       }
       a:hover {
          background-color:rgb(252, 195, 157);
          border-radius: 10px;
     
       }

       nav a {  color:black; }

      
       a:link ,a:visited ,a:active, a:link{
           text-decoration: none;
           font-family: serif;
           font-weight: bold;
           color:rgb(53, 53, 53);
       }

       section{ height: 250px; }

       em {
           font-family: fantasy New, Courier;
           font-size: large;
           font-weight: bold;
       }

      legend {
          border-style:  outset ;
          width:115px;
          background-color:antiquewhite;
          border-color: rgb(122, 121, 121);
          margin-left: 2%;
          margin-bottom: 2%;
          margin-top: 5%;
          box-shadow: 2px 2px gray;
       
      }


      h2 {
          margin: 2%;
          text-align: center;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; 
          text-shadow: 1px 1px gray;
      }

      li, p {
        font-family:cursive; 
        margin-left: 2%; 
      
      
        }

      img {
        width: 20px;
        margin-left:2%;
        padding-bottom: 2px;
        padding-top: 2px;
      }

   aside {
     position: absolute;
     font-weight: bold;
     left: 70%;
     bottom: -210% ;
     border:rgb(211, 176, 141) dashed;
     width:26%;
     

   }
   section header ,aside header {
        margin: 0px 0px;
        padding: 5px 5px;
        font-weight: bold;
        text-decoration: underline;
        background-color:rgba(250, 215, 169, 0.945);
   }

   #platforms {
       position: absolute;
       left: 70%;
     bottom: -150%    ;
     border:rgb(211, 176, 141) dashed;
     background-color: rgba(250, 215, 169, 0.945);
     width:26%;
     height: 45%;
    

   } 

